.results-page {

  margin-left: auto;
  margin-right: auto;
  width: 80%;

  .pages {
    display: flex;
    margin-top: 20px;

    .page {
      color: blue;
      cursor: pointer;
      margin-right: 20px;
      &:hover {
        text-decoration: underline;
      }
    }

  }

}